{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('build/home.css')}}">
{% endblock %}

{% block title %}Home
{% endblock %}

{% block header %}
	<img src="{{ asset('build/images/header_compagnie.jpg')}}" alt="Les membres de la troupe">
	<div>
		<h1>
			Comme l'air 2 rien
		</h1>
		<h2>Une compagnie de théâtre musical amateur</h2>
	</div>
{% endblock %}

{% block body %}
	<section id="presentation" class="presentation">
		<div>
			<h1>Presentation</h1>
			<p>{{ company.description|nl2br }}</p>
		</div>
		<img src="{{ asset('build/images/presentation_compagnie.jpg')}}" alt="Les membres de la troupe">
	</section>
{% endblock %}
