{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('build/home.css')}}">
{% endblock %}

{% block title %}Home
{% endblock %}

{% block header %}
	<img src="{{ asset('build/images/header_compagnie.jpg')}}" alt="Les membres de la troupe">
	<div>
		<h1>
			Comme l'air 2 rien
		</h1>
		<h2>Une compagnie de théâtre musical amateur</h2>
	</div>
{% endblock %}

{% block body %}
	<section id="presentation" class="presentation">
		<div>
			<h1>Presentation</h1>
			<p>{{ company.description|raw|nl2br }}</p>
		</div>
		<img src="{{ asset('build/images/presentation_compagnie.jpg')}}" alt="Les membres de la troupe">
	</section>

	<section id="spectacles" class="grid-section">
		<h1>Spectacles</h1>
		<div class="grid">
			{% for spectacle in spectacles %}
				{% include 'home/_spectacle.html.twig' %}
			{% endfor %}
		</div>
	</section>

	<section id="members" class="grid-section members">
		<h1>Membres</h1>
		<div class="grid">
			{% for member in members %}
				{% include 'home/_member.html.twig' %}
			{% endfor %}
		</div>
	</section>

	<section id="partners" class="grid-section partners">
		<h1>Partenaires</h1>
		<div class="grid">
			{% for partner in partners %}
				{% include 'home/_partner.html.twig' %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
