<article class="{{calendar.datetime < date('now') ? 'passed'}}">
	<main>
		<h1>{{ calendar.datetime|date('d/m/Y H\hi') }}</h1>
		<address>{{ calendar.address }}</address>
		<a role="button" href="#calendar{{calendar.id}}">Plus d'information</a>
	</main>
</article>
<dialog id="calendar{{calendar.id}}">
	<article>
		<header>
			<a href="#close" aria-label="Close" class="close"></a>
			<h2>{{ calendar.datetime|date('D/M/Y H\hi') }}</h2>
			<address>{{ calendar.address }}</address>
		</header>
		<main>
			<p>{{ calendar.information|raw|nl2br }}</p>
		</main>
	</article>
</dialog>
