<article>
	<a href="#gallery{{gallery.id}}">
		<img src="{{ asset('uploads/galleries/' ~ gallery.image) }}" alt="{{ gallery.legend }}">
	</a>
</article>
<dialog id="gallery{{gallery.id}}" class="large-modal">
	<article>
		<header>
			<a href="#close" aria-label="Close" class="close"></a>
		</header>
		<figure>
			<img src="{{ asset('uploads/galleries/' ~ gallery.image) }}" alt="{{ gallery.legend }}">
			<figcaption>{{ gallery.legend }}</figcaption>
		</figure>
	</article>
</dialog>
