<article>
	<header>
		<img src="{{ asset('uploads/pressReviews/' ~ pressReview.image) }}" alt="illustration de l'article {{ pressReview.title }}">
	</header>
	<div>
		<h1>{{ pressReview.title }}</h1>
		<a role="button" href="#pressReview{{pressReview.id}}">Plus d'information</a>
	</div>
</article>
<dialog id="pressReview{{pressReview.id}}">
	<article>
		<header>
			<a href="#close" aria-label="Close" class="close"></a>
			<h2>{{  pressReview.title }}</h2>
		</header>
		<img src="{{ asset('uploads/members/' ~ pressReview.image) }}" alt="">
		<p>{{ pressReview.detail|raw|nl2br }}</p>
		{% if pressReview.link is not null %}
			<a target="_blank" href="{{ pressReview.link }}">Source</a>
		{% endif %}
	</article>
</dialog>
