<nav>
	<ul>
		<li>
			<a href="{{ path('app_home') }}">
				<img src="{{ asset('build/images/logo.png')}}" alt="logo"></a>
		</li>
	</ul>
	<ul class="menu">
		<li>
			<a href="#links">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewbox="0 0 16 16">
					<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
				</svg>
			</a>
		</li>
	</ul>
	<ul class="links" id="links">
		<li>
			<a href="{{ path('app_home')}}#presentation">Compagnie</a>
		</li>
		<li>
			{{ component('spectacle') }}
		</li>
		<li>
			<a href="{{ path('app_home')}}#members">Membres</a>
		</li>
		<li>
			<a href="{{ path('app_home')}}#contact">Contact</a>
		</li>
		<li class="close">
			<a role="button" href="#close">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewbox="0 0 16 16">
					<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
				</svg>
				Fermer
			</a>
		</li>
	</ul>
</nav>
